<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Friends Book</a>
  </div>
</nav>

<div class="container container-form">
<form class="row g-3">

  <div class="col-md-6">
    <label for="inputFirstname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputFirstname">
  </div>

  <div class="col-md-6">
    <label for="inputLastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputLastname">
  </div>

  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail">
  </div>

  <div class="col-md-6">
    <label for="inputPhone" class="form-label">Phone</label>
    <input type="tel" class="form-control" id="inputPhone">
  </div>

  <div class="col-md-6">
    <label for="inputLanguage" class="form-label">Favorite lanuage</label>
    <select id="inputLanguage" class="form-select">
      <option selected>Choose...</option>
      <option>Html</option>
      <option>Css</option>
      <option>Js</option>
      <option>Php</option>
      <option>Other</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
</form>
</div>